/* General styling */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.headerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerImg img {
  width: 30%;
  padding: 2rem;
  border-radius: 50%;
}

/* About section */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #00AFF0,#7acae7, #b3d3e0);
  padding: 2rem 0;
}

.about-text {
  text-align: center;
}

.about-text h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-text h1 span {
  font-weight: bolder;
  font-size: 5rem;
  font-family: 'Playfair Display';
  color:  #fff;
}

.about-text p {
  font-size: 18px;
  margin-top: 20px;
}

.about .btn {
  display: inline-block;
  background-image: linear-gradient(to bottom left, #00AFF0,#7acae7, #b3d3e0);
  color: #fff;
  padding: 12px 30px;
  border-radius: 25px;
  margin-top: 40px;
  text-decoration: none;
}

.about .btn:hover {
  background-image: linear-gradient(to bottom left, #00AFF0,#7acae7, #b3d3e0);
}

/* About container section */
.about.container {
  border-radius: 1rem;
}


.about.container .about-text span {
  display: block;
  font-size: 5rem;
  font-style: italic;
  text-decoration: overline;
  text-transform: uppercase;
  color: #fff;
  
}

.about.container .about-text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  
}


.about.container .btn {
  background-color: #fff;
  color:  #00AFF0;
  border: 2px solid #00AFF0;
}

.about.container .btn:hover {
  background-color:#00AFF0;
  color: #fff;
  border: 2px solid#00AFF0;
}

.about.container .about-img img {
  width: 50%;
}

/* Commercial section */
#commercial {
  background-image: #fff;
  color: #fff;
  padding: 4rem;
  text-align: center;
}

#commercial .container video {
  width: 100%;
  padding: 5rem 0;
}

.footer {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: 15vh;
  background: url(/pictures/bg1.jpg) center;
}

.footer .share {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .share a {
  color: #222840;
  border: none;
  background: none;
  font-size: 2rem;
}

.footer .share a:hover {
  color: #00AFF0;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .about-text h1 {
    font-size: 28px;
  }

  .about-text p {
    font-size: 16px;
  }

  .about.container .about-text h2 {
    font-size: 28px;
  }

  .about.container .about-text p {
    font-size: 16px;
  }
}
