* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(to bottom left, #00AFF0,#7acae7, #b3d3e0);
}

img {
    width: 35%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact {
    background: #222840;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.contact form {
    padding: 3rem 10%;
    
}

.contact form h3 {
    font-family: 'PT Serif', serif;
    font-style:italic;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 2rem;
    text-decoration: overline;
    
}
.contact form .box {
    width: 100%;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    background-color: #fff;
    color: #222840;
    padding: 1rem ;
    margin: 1rem 0;
}

.contact form textarea {
    width: 100%;
    border-width: .1rem;
    font-size: 1rem;
    text-transform: none;
    color: #222840;
    padding: 1rem;
    margin: 1rem 0;
}

textarea {
    height: 15rem;
    resize: none;
}

.btn {
    display: inline-block;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border: .15rem solid #00AFF0;
    background: #fff;
    color: #222840;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background: #00AFF0;
    font-size: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 10vh;
    background: url(/pictures/bg1.jpg) center;
}

.footer .share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .share a {
    color: #222840;
    border: none;
    background: none;
}

.footer .share a:hover {
    color: #fff;
}