* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.parts-container .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:#fff;
  border-radius: 1rem;
  gap: 2rem;
  margin-top: 2rem;
}.parts-container .box:hover {
    background: #00AFF0;
  background-image: linear-gradient(to top right, #00AFF0,#7ACAE7, );
}
.parts-container .box img {
  width: 100%;
  object-fit: fill;
  object-position: center;
  margin-bottom: 1rem;
}
.parts-container .box h3 {
  font-size: 1.1rem;
}
.parts-container .box span {
  font-size: 1.1rem;
  color: var(--main-color);
}
.parts-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}
.parts-container .box .btn {
  max-width: 120px;
}
.parts-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}
.parts-container .box .details:hover {
  color: var(--main-color);
  text-decoration: underline;
}
.blog {
  text-align: center;
}
.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.blog-container .box {
  flex: 1 1 13rem;
  padding: 20px;
}
.blog-container .box:hover {
  background: #00AFF0;
  --main-color:#00AFF0;
}
.blog-container .box span {
  font-size: 0.8rem;
  color: var(--main-color);
}
.blog-container h3 {
  font-size: 1.2rem;
}
.blog-container .box p {
  font-size: 0.938rem;
  margin: 4px 0;
}
.blog-container .box .blog-btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--text-color);
}
.blog-container .box .blog-btn .bx {
  font-size: 20px;
}
.blog-container .box .blog-btn:hover {
  background: #00AFF0;
  column-gap: 0.7rem;
  transition: 0.4s;
}
.review {
  text-align: center;
 }
 .card-img-top {
  border: 1px solid #ccc;
}
 .box {
  background: #00AFF0; /* Change the background color of the box */
  color: #000000; /* Change the text color of the elements in the box */
}