body { 
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.parts-container .box {
  flex: 1 1 17rem;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background:#B3D3E0;
  border-radius: 0.5rem;
}.parts-container .box:hover {
    background: #00AFF0;
    --main-color:#00AFF0;

  background-image: linear-gradient(to top right, #00AFF0,#7ACAE7, );
}
.parts-container .box img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 1rem;
}
.parts-container .box h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.parts-container .box span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}
.parts-container .box .bx {
  color: var(--main-color);
  margin: 0.8rem 0;
}
.parts-container .box .btn {
  max-width: 120px;
}
.parts-container .box .details {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  right: 1rem;
  font-size: 1rem;
  color: var(--text-color);
}
.parts-container .box .details:hover {
  color: var(--main-color);
  text-decoration: underline;
}


.blog {
  
  text-align: center;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  text-align: center;
}
.blog-container .box {
  flex: 1 1 13rem;
  padding: 20px;
}
.blog-container .box:hover {
  background: #00AFF0;
  --main-color:#00AFF0;

}
.blog-container .box span {
  font-size: 0.8rem;
  color: var(--main-color);
}
.blog-container h3 {
  font-size: 1.2rem;
}
.blog-container .box p {
  font-size: 0.938rem;
  margin: 4px 0;

}
.blog-container .box .blog-btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: var(--text-color);
}
.blog-container .box .blog-btn .bx {
  font-size: 20px;
}
.blog-container .box .blog-btn:hover {
  color: var(--main-color);
  column-gap: 0.7rem;
  transition: 0.4s;
}

.is-hidden { display: none; }