{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Edit User</h1>

    <div class="w-75 m-auto">
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Update') }}</button>
{{ form_end(form) }}
</div>
<a href="/user/delete" class="btn">Delete</a>
{% endblock %}
