{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}


   <input type="text" id="searchbar">
   <button id="searchbtn">search</button>
 
   <h1>Products</h1>
   <div id="product">

   </div>

   <script>
     
    document.getElementById("searchbtn").addEventListener("click", function(){
        let value = document.getElementById("searchbar").value;
        window.location.href = "/user/prod/search/"+value;
    })
    
    //    document.getElementById("search").addEventListener("click", getProducts); //create an eventlistener to call getproducts) function when button clicked

    //    function getProducts() {
    //        const request = new XMLHttpRequest(); //create new request
    //        request.open("GET", "/search/", true); //set request as a GET method connecting to search.php
    //        request.onload = function () {
    //            if (this.status == 200) {
    //                let products = JSON.parse(this.responseText); //data received are turned to objects
    //                console.log(products) //see the array of objects in your console
    //                let output = ''; //create container variable
    //                products.forEach(product => {
    //                for (let i in products) {
    //                    output += `<p>Name: ${products[i].name}
    //                    price: ${products[i].price }</p>`;
                   
           
                   
    //                document.getElementById('product').innerHTML = output; 
    //             }   
    //         });
    //             }
    //        request.send("search=calzone"); //send request
    //    }
    //    }
   </script>

{% endblock %}
