{# <ul class="nav"> #}

  {# {% if app.user %}   
  <li class="nav-item">
    <a class="nav-link disabled">Hello, {{ app.user.userIdentifier }}</a>
  </li>  
  {% endif %} #}
  
  {# {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_product_index') }}">Products catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_product_new') }}">Add Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_brand_index') }}">Brands catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ path('app_brand_new') }}">Add Brand</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_user_index') }}">Manage users</a>
            </li>
              {% elseif is_granted('ROLE_USER') %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_user_access') }}">Products catalogue</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_user_access_edit') }}">Edit your profile</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_order_item') }}">Cart</a>
              </li>  
              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_static') }}">Products catalogue</a>
              </li>
              {% endif %}
           
              <li class="nav-item">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Log in</a>
                {% endif %} 
              </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_about') }}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
    </li>

  </ul> #}