{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
    <div>
        <h2>Order details</h2>

        {% for item in items %}
        <div>
            <img src="{{ item.fkProduct.picture }}" alt="">
            <p>{{ item.fkProduct.name }}</p>
            <p>Price: {{ item.fkProduct.price }} &#8364;</p>
            <p>Quantity: {{ item.quantity }}</p>
        </div>
        {% endfor %}
        
    </div>

    <hr>

    <div>
        <h2>Buyer's details</h2>

        <p>You will recieve an email confirming your order details </p>
    </div>
    <a href="/user/order/check_out_confirm" class="btn btn-success">Confirm</a>
{% endblock %}
